* {
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 0%;
}

video {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#layout img {
  max-width: 50%;
  max-height: 50%;
}

.iframe_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
}

#youtubeframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

main {
  box-sizing: border-box;
  margin: 2rem;
}

body {
  background-color: #fff;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5rem 0.5rem;
  gap: 20px;
  background-color: #222222;
}

header nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0.3rem;
  padding: 0;
  gap: 20px;
  overflow-x: auto;
  font-size: 1.3rem;

  /*--------------Virker kun til firefox-------------*/
  scrollbar-width: none;
}

#spotifyh1 {
  font-family: "Halant", serif;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  line-height: 3rem;
  border-bottom: 2px solid black;
}

li a:hover {
  border-bottom: 2px solid black;
}

a {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

h2 {
  font-family: "Halant", serif;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  line-height: 3rem;
}

p {
  font-family: "Karla", sans-serif;

  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: black;
  font-size: 1rem;
  margin-bottom: 4rem;
}

#section1 {
  background-image: url(Content/sofa2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 700px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#section1 #h1wrap1 h1 {
  font-family: "Halant", serif;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: white;
  font-size: 0.3rem;
  margin-bottom: 0.01rem;
  margin-top: -5rem;
  padding-top: -1rem;
}

#section1 #h1wrap2 h1 {
  font-family: "Halant", serif;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(247, 12, 188);
  font-size: 3rem;
  margin-bottom: -2rem;
  padding-bottom: -2rem;
  margin-top: -1rem;
  line-height: 1.3em;
}

@media (min-width: 800px) {
  a {
    font-family: "Karla", sans-serif;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  #section1 #h1wrap1 h1 {
    font-family: "Halant", serif;
    text-decoration: none;
    font-weight: 700;

    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }

  #section1 #h1wrap2 h1 {
    font-family: "Halant", serif;
    text-decoration: none;
    font-weight: 700;

    color: rgb(0, 68, 11);
    font-size: 5rem;
    margin-bottom: -2rem;
    padding-bottom: -2rem;
    margin-top: -2rem;
    margin-left: 2rem;
    line-height: 1em;
  }
  #speciel_h2 {
    text-align: left;
    margin-left: -0.5vh;
  }
  #section2 #tekst_wrap {
    display: flex;
    text-align: left;
    margin-left: -0.5vh;
  }

  #section2 #billedewrap {
    max-width: 100%;
    display: flex;
    gap: 10px;
  }

  #section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #section4 #image3 {
    grid-column: 1;
  }

  #section4 #image4 {
    grid-column: 2;
  }

  video {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .iframe_wrapper {
    position: relative;
    padding-top: 56.25%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.iframe_wrapper_spotify {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-top: 3rem;
}
